
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.inria-sans-light {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #DBDEE2;
  padding: 40px 0 0;
  padding-bottom: 50px;

}
