* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.inria-sans-light {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #DBDEE2;
  padding: 40px 0 0;
  padding-bottom: 50px;
  scroll-behavior: smooth;
}

.grey-span {
  color: #cccccc;
  margin: 0 10px;
  letter-spacing: 3px;
}

@keyframes fly-in {
  0% {
    transform: scale(40) translateY(945px);
  }

  to {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

.animate-fly-in {
  /* position: absolute; */
  animation: 2s cubic-bezier(.19, 1, .22, 1) 0s 1 normal both running fly-in;
}


@keyframes expand {
  0% {
    transform: scale(.01);
    /* Start at original size */
  }

  100% {

    transform: scale(1);
    opacity: 1;
    /* End at 1.5 times the original size */
  }
}

.expandable {
  animation: expand 2.5s ease forwards;
  display: block;
  transition: transform 3s ease;
}




@keyframes count {
  from {
    content: '0';
  }

  to {
    content: '100';
  }
}

.counter::before {
  content: '0';
  font-size: 24px;
  animation: count 3s steps(100) forwards;
}




@keyframes revealPercent {
  0% {
    width: 0;
  }

  100% {
    width: 100px;
  }
}


.reveal-percent {
  width: 0;
  animation: revealPercent 1s ease-in-out forwards;
}


@keyframes revealBar {
  0% {
    width: 940px;
  }

  100% {
    width: 0;
  }
}
.reveal-bar {
  animation: revealBar 1.5s ease-in-out forwards;
}


@keyframes fillProgressBar {
  0% {
    width: 0;
  }

  100% {
    width: 50px;
  }
}


.progress-bar {
  animation: fillProgressBar 1s ease-in-out forwards;
}



@keyframes fillSliderSeparator {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}


.progress-bar-separator {
  animation: fillSliderSeparator 1s ease-in-out forwards;
}



@keyframes fillSlider {
  0% {
    width: 0;
  }

  100% {
    width: 300px;
  }
}

.progress-bar-slider {
  animation: fillSlider 1s ease-in-out forwards;
}


@keyframes wavy {
  0% {
    top: 0px;
  }

  100% {
    top: -75px;
  }
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  position: relative;
  top: 0;
  left: 0;
}


@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 1.6s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-fill-mode: forwards;
}



@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-up {
  animation: bounceUp 0.5s ease;
  animation-delay: 1.5s;
}



@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease forwards;
  animation-delay: 1s;
}


@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 0.5s ease forwards;
  animation-delay: 1s;
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 1s ease-in-out ;
  animation-duration: 2s;
}


@keyframes fadeInBounce {
  0% {
    transform: translateY(-100px); /* Start position */
  }
  50% {
    transform: translateY(0); /* Midway position */
  }
  100% {
    opacity: 1;
    transform: translateY(-20px); /* Final position */
  }
}

.fadeInBounce {
  opacity: 0;
  animation: fadeInBounce 0.5s ease-in-out forwards; /* Adjust duration and timing function as needed */
}


.no-opacity {
  opacity: 0;
}


/* Remove FOUC */
.no-fouc {
  visibility: hidden;
  opacity: 0;
}

.fouc {
  visibility: visible;
  opacity: 1;
}